<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue Basics</title>
		<link rel="stylesheet" href="theme.css" />
	</head>
	<body>
		<div class="container" id="app">
			<div class="card">
				<h1
					:style="{
					color: inputValue.length === 10 ? '#ff4f4f':'#47b584',
					fontSize:'20px'
				}"
				>
					{{title}}
				</h1>
				<div class="form-control">
					<input
						type="text"
						:placeholder="stringPlaceholder"
						v-model="inputValue"
						@keypress.enter="addNotes"
					/>
				</div>
				<div>
					<button class="btn" @click="addNotes">Добавить</button>
				</div>
				<hr />
				<ul class="list" v-if="notes.length > 0">
					<li class="list-item" v-for="(note, index) in notes">
						<!-- <span :class="note.length > 5 ? 'primary':'bold'"
							>{{index+1}}. {{note}}</span
						> -->
						<!-- <span
							:class="{
							'primary':true,
							'bold': note.length > 5
						}"
							>{{index+1}}. {{note}}</span
						> -->
						<span :class="['bold', {'primary':note.length > 5}]"
							>{{index+1}}. {{note}}</span
						>
						<button class="btn danger" @click="removeNote(index)">X</button>
					</li>
					<li>
						<strong
							>Общее кол-во: {{notes.length}} || Удвоение
							{{doubleCount}}</strong
						>
					</li>
				</ul>
				<div v-else>Нет заметок</div>
			</div>
		</div>

		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="app.js"></script>
	</body>
</html>
