<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue Basics</title>
		<link rel="stylesheet" href="theme.css" />
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="container pt-5" id="app" v-cloak>
			<div class="card center">
				<h3 v-text="title"></h3>
				<!-- <h3 v-once>{{title}}</h3> -->
				<div class="form-control">
					<input type="text" ref="score1" />
					<input type="text" ref="score2" />
					<button @click="addItem()">Отправить</button>
				</div>

				<ul class="list" v-if="items.length">
					<li
						class="list-item"
						v-for="(item, i) in evenItems"
						@click="items.splice(i,1)"
						:key="item"
					>
						{{item}}
						<input type="text" @click.prevent.stop />
					</li>

					<!-- <li class="list-item" v-for="(item, key) in person">
						{{key}}: {{item}}
					</li> -->
				</ul>
				<div v-show="items.length === 0">Элементы закончились</div>
			</div>
		</div>

		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="app.js"></script>
	</body>
</html>
